* {
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

h1, h2, h3, h4 {
  color: black;
}

.component {
  border:1px solid black;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.componentA {
  margin-top:20px;
  background: red;
}

.componentB {
  padding: 20px;
  margin:10px 0;
  background: green;
}

.componentC {
  background: blue;
}

.componentD {
  background: silver;
}
